{% extends "base.html" %}

{% block title %}Sobre o Projeto - TCR Descomplicado{% endblock %}

{% block content %}
<h1>Sobre o Projeto</h1>
<p>O "TCR Descomplicado" detalha o passo a passo da resolução de sistemas de congruências lineares, facilitando a
    visualização do passo a passo desse teorema.</p>
<p>Este projeto foi desenvolvido no âmbito da disciplina de Fundamentos de Matemática para Ciência da Computação 2 (FMCC2),
    ministrada por Tiago Lima Massoni, na Universidade Federal de Campina Grande (UFCG).
</p>
{% endblock %}